@use 'a2_variables' as *

@mixin title()

    font-size: map-get($size, medium, 400 )

    color: $color-white
    max-width: 14ch

    @media (min-width: $breakpoint-medium)
        font-size: map-get($size, medium, 800 )

    @media (min-width: $breakpoint-large)
        font-size: map-get($size, large, 300 )
        
@mixin header()

    font-size: map-get($size, medium, 300 )

    color: $color-white
    max-width: 14ch

    @media (min-width: $breakpoint-medium)
        font-size: map-get($size, medium, 300 )

    @media (min-width: $breakpoint-large)
        font-size: map-get($size, medium, 700 )

@mixin subheader()

    font-size: map-get($size, small, 700 )
    max-width: 14ch

    @media (min-width: $breakpoint-medium)
        font-size: map-get($size, medium, 300 )

    @media (min-width: $breakpoint-large)
        font-size: map-get($size, medium, 500 )

@mixin text()

    font-size: map-get($size, small, 400 )

    color: $color-secondary

    @media (min-width: $breakpoint-medium)
        font-size: map-get($size, small, 500 )

    @media (min-width: $breakpoint-large)
        font-size: map-get($size, small, 700 )


@mixin card-layout($number-show-medium, $number-show-large)

    $number-margin-medium: $number-show-medium - 1
    $number-margin-large: $number-show-large - 1

    div:nth-of-type(n)
        margin-block-end: $gap-small

    @media (max-width: $breakpoint-medium)
    
        div:nth-of-type(n+#{$number-show-medium})
            display: none
    
        div:nth-of-type(n+#{$number-margin-medium})
            margin-block-end:0
            
    @media (max-width: $breakpoint-large)
    
        div:nth-of-type(n+#{$number-show-large})
            display: none
    
        div:nth-of-type(n+#{$number-margin-large})
            margin-block-end:  0