@use 'a2_variables' as *
@use 'a3_utilities' as *
@use 'a4_components' as *

.main
    padding: $padding-small
    padding-inline-start: ($padding-small + 1rem)

    align-items: center
    text-align: center

    height: 95vh

    @media (min-width: $breakpoint-medium)
        display: grid
        grid-template-columns: 1fr min(13rem, 1fr)
        grid-template-rows: 1fr 1fr
        grid-gap: $gap-small

        padding: 8vw

        text-align: start

    &__title__container
        grid-column: 1
        grid-row: 1

        justify-self: start

    &__title
        @include title
    
        margin-block-end: $margin-header

        @media screen and ( min-width: $breakpoint-medium )
            margin-block-end: 0

    &__subtitle
        @include text

    &__text__container
        grid-column: 1
        grid-row: 2
        
    &__header
        @include subheader

        margin-block-end: map-get($size, small, 700 )
        color: $color-primary

        @media screen and ( min-width: $breakpoint-medium )
            margin-block-end: 1rem

    &__text
        @include text
        max-width: 34ch

        @media screen and ( min-width: $breakpoint-medium )
            max-width: 30ch
            

        & span
            font-weight: $font-weight-semibold

            color: $color-white

    & a
        margin-block-start: auto

        justify-self: end

    &__button
        @include button-primary
