@use 'a2_variables' as *
@use 'a3_utilities' as *

.web
    display: grid

    text-align: center
    
.web__header
    @include header

    margin-block-start: $margin-section
    margin-block-end: $margin-header

    margin-inline: auto
    
    & span
        color: $color-primary

.web__container
    display: grid
    grid-template-columns: min(70vw, 15rem)
    gap: $gap-small

    margin-inline: auto


    @media (min-width: $breakpoint-medium)
        grid-template-columns: repeat(2, min(32vw, 15rem))

    @media (min-width: $breakpoint-large)
        grid-template-columns: repeat(3,20rem)

.web--social

    position: relative

    display: flex

    background-color: $color-white
    color: $color-black

    font-size: 0.8rem

    height: 4rem

    align-items: end
    justify-content: start

    &::after
        content: ''

        position: absolute

        width: 100%
        height: 10%

        background-color: $color-primary

        transition: height 200ms ease-in-out, background-color 300ms ease-in-out

    &:hover::after,
    &:focus::after
        height: 100%
        background-color: $color-accent
        

.web__title

    z-index: 1

    margin-block-end: calc(4rem * 0.10)
    margin-inline-start: 0.3rem

.web__icon
    position: absolute
    top: 10px
    right: 10px
    z-index: 1

    width: 25px
    aspect-ratio: 1/1

        