html
    background-color: black // prevents white space from showing while changing screen size

body
    font-family: 'Noto Sans', sans-serif
    
    background-image: url(../assets/pictures/background-small.png)
    background-repeat: no-repeat
    background-position: center
    
    color: white

    @media screen and (min-width: 38rem )
        background-image: url(../assets/pictures/background-medium.png)

    @media screen and (min-width: 59rem )
        background-image: url(../assets/pictures/background-medium-large.png)

    @media screen and (min-width: 80rem )
        background-image: url(../assets/pictures/background-large.png)
